# Terraform state
*.tfstate
*.tfstate.backup

# Crash log files
crash.log

# Exclude .terraform directory
.terraform/

# Sensitive variable files
*.tfvars

# Optional: lock file
.terraform.lock.hcl
